<div id="dOverviewPage" ng-controller="OverviewCtrl" ng-init="initialize()">
	<input id="iNew" type="text" ng-model="newItem" placeholder="Begin typing here..." no-char/>
	<span class="create" ng-click="saveItem()">Create</span>
	<div class="clearfix"></div>

	<label>
		Show important tasks only:
		<input type="checkbox" ng-model="important">
	</label>

	<ul class="items">
		<li class="todo-item" ng-repeat="item in items | filter: isImportant">
			<span ng-click="goToDetailsPage($index)">{{item.text}}</span>
			<input type="checkbox" ng-model="item.important">
		</li>
	</ul>
</div>
